In [1]:
import numpy as np 
import pandas as pd

In [13]:
dfm = pd.read_csv('male_office_sitting4_scenario_newResults.csv')
dff = pd.read_csv('female_office_sitting4_scenario_newResults.csv')

In [14]:
dff.head(10)

,Time(s),EndTidalCarbonDioxideFraction,RespirationRate(1/min),InspiratoryFlow(mL/s),ExpiratoryFlow(mL/s),CarbonDioxideProductionRate(mL/min)
0,0.02,0.05,12.05,346.21,-346.21,155.34
1,0.04,0.05,12.05,346.28,-346.28,155.29
2,0.06,0.05,12.05,346.08,-346.08,155.25
3,0.08,0.05,12.05,345.63,-345.63,155.20
4,0.10,0.05,12.05,344.94,-344.94,155.15
5,0.12,0.05,12.05,344.01,-344.01,155.10
6,0.14,0.05,12.05,342.86,-342.86,155.04
7,0.16,0.05,12.05,341.48,-341.48,154.98
8,0.18,0.05,12.05,339.88,-339.88,154.92
9,0.20,0.05,12.05,338.07,-338.07,154.86

In [15]:
dff.columns

Index(['Time(s)', 'EndTidalCarbonDioxideFraction', 'RespirationRate(1/min)',
       'InspiratoryFlow(mL/s)', 'ExpiratoryFlow(mL/s)',
       'CarbonDioxideProductionRate(mL/min)'],
      dtype='object')

In [16]:
dfm[dfm.columns[4]][:] = dfm[dfm.columns[4]][:]*1e-6
dff[dff.columns[4]][:] = dff[dff.columns[4]][:]*1e-6
dfm[dfm.columns[5]][:] = dfm[dfm.columns[5]][:]*2*1e-6*1.87/60/55.5
dff[dff.columns[5]][:] = dff[dff.columns[5]][:]*2*1e-6*1.87/60/55.5
dfm.rename(columns = {dfm.columns[4]:"MaleExpiratoryFlow(m3/s)"}, inplace = True)
dff.rename(columns = {dff.columns[4]:"FemaleExpiratoryFlow(m3/s)"}, inplace = True)
dfm.rename(columns = {dfm.columns[5]:"MaleCarbonDioxideProductionRate(kg/m3.s)"}, inplace = True)
dff.rename(columns = {dff.columns[5]:"FemaleCarbonDioxideProductionRate(kg/m3.s)"}, inplace = True)
#dfm.to_csv("inlet.csv", index=False, columns=[dfm.columns[0], dfm.columns[4], dff.columns[4], dfm.columns[5], dff.columns[5]])
data = {
    dfm.columns[0]: dfm[dfm.columns[0]],
    "MaleExpiratoryFlow(m3/s)": dfm[dfm.columns[4]],
    "FemaleExpiratoryFlow(m3/s)": dff[dff.columns[4]],
    "MaleCarbonDioxideProductionRate(kg/m3.s)": dfm[dfm.columns[5]],
    "FemaleCarbonDioxideProductionRate(kg/m3.s)": dff[dff.columns[5]]
}
df = pd.DataFrame(data)
df.to_csv("inlet.csv", index=False)
df2 = pd.read_csv('inlet.csv')
df2.head(10)

,Time(s),MaleExpiratoryFlow(m3/s),FemaleExpiratoryFlow(m3/s),MaleCarbonDioxideProductionRate(kg/m3.s),FemaleCarbonDioxideProductionRate(kg/m3.s)
0,0.02,-0.000395,-0.000346,2.405505e-07,1.744659e-07
1,0.04,-0.000409,-0.000346,2.406404e-07,1.744098e-07
2,0.06,-0.000422,-0.000346,2.407190e-07,1.743649e-07
3,0.08,-0.000432,-0.000346,2.407751e-07,1.743087e-07
4,0.10,-0.000441,-0.000345,2.408425e-07,1.742526e-07
5,0.12,-0.000448,-0.000344,2.409099e-07,1.741964e-07
6,0.14,-0.000455,-0.000343,2.408987e-07,1.741290e-07
7,0.16,-0.000460,-0.000341,2.408762e-07,1.740616e-07
8,0.18,-0.000464,-0.000340,2.408425e-07,1.739942e-07
9,0.20,-0.000468,-0.000338,2.407976e-07,1.739268e-07

In [17]:
df2data = {"time": [i/10 for i in range(100)], "x": [10.]*100, "y": [0.]*100, "z": [0.]*100}
df2 = pd.DataFrame(df2data)

In [18]:
df2.head(10)

   time     x    y    z
0   0.0  10.0  0.0  0.0
1   0.1  10.0  0.0  0.0
2   0.2  10.0  0.0  0.0
3   0.3  10.0  0.0  0.0
4   0.4  10.0  0.0  0.0
5   0.5  10.0  0.0  0.0
6   0.6  10.0  0.0  0.0
7   0.7  10.0  0.0  0.0
8   0.8  10.0  0.0  0.0
9   0.9  10.0  0.0  0.0

In [19]:
#df2.to_csv('inlet.csv', index=False, header=False)