In [54]:
import numpy as np 
import pandas as pd

In [55]:
df = pd.read_csv('male_office_sitting4_scenarioResults.csv')

In [56]:
df2data = {"time": [i/10 for i in range(100)], "x": [10.]*100, "y": [0.]*100, "z": [0.]*100}
df2 = pd.DataFrame(df2data)

In [57]:
df2.head(10)

   time     x    y    z
0   0.0  10.0  0.0  0.0
1   0.1  10.0  0.0  0.0
2   0.2  10.0  0.0  0.0
3   0.3  10.0  0.0  0.0
4   0.4  10.0  0.0  0.0
5   0.5  10.0  0.0  0.0
6   0.6  10.0  0.0  0.0
7   0.7  10.0  0.0  0.0
8   0.8  10.0  0.0  0.0
9   0.9  10.0  0.0  0.0

In [58]:
df2.to_csv('inlet.csv', index=False, header=False)